@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Stetica';
  src: url('../fonts/Stetica.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins400';
  src: url('../fonts/Poppins-Regular.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins700';
  src: url('../fonts/Poppins-Bold.ttf');
  font-style: normal;
  font-display: swap;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
html,body{
    overflow-x: hidden;
    margin:0 !important;
}
:root{
    --brown:#493521;
    --red:#C72023;
    --black:#121212;
    --beige:#F8EAD2;
    --gray:#7B7B7B;
    --cream:#F9F5EF;
    --white:#F9F5EF;
    font-size: 62.5%;
    --main-font: 'Cuprum', sans-serif;
    --second-font:'Stetica', sans-serif;   
    --h1-size:6.4rem;
    --h1-height:7.2rem;
    --h1-weight:bold;
    --h2-size:4.8rem;
    --h2-height:5.5rem;
    --h2-weight:bold;
    --h3-size:3.6rem;
    --h3-height:2.4rem;
    --h3-weight:900;
    --h4-size:2.8rem;
    --h4-height:3.2rem;
    --h4-weight:bold;
    --main-size:1.6rem;
    --main-height:2.2rem;
    --main-weight:400;
    --menu-size:1.6rem;
    --menu-height:2.4rem;
    --menu-weight:500;
    --footer-size:1.8rem;
    --footer-height:2.5rem;
    --footer-weight:400;
    --transition:all .3s ease;
}
*{
    margin:0;
    padding:0;
}
h1{
    font-size: var(--h1-size);
    font-family: var(--main-font);
    font-weight: var(--h1-weight);
    line-height: var(--h1-height);
}
h2{
    font-size: var(--h2-size);
    font-family: var(--main-font);
    font-weight: var(--h2-weight);
    line-height: var(--h2-height);
}
h3{
    font-size: var(--h3-size);
    font-family: var(--second-font);
    font-weight: var(--h3-weight);
    line-height: var(--h3-height);
}
h4{
    font-size: var(--h4-size);
    font-family: var(--main-font);
    font-weight: var(--h4-weight);
    line-height: var(--h4-height);
}
p{
    font-size: var(--main-size);
    font-family: var(--second-font);
    font-weight: var(--main-weight);
    line-height: var(--main-height);
}
button,a{
    cursor: pointer;
}
a{
    color:var(--white);
    text-decoration: none;
}
.menu-header{
    font-size: var(--menu-size);
    font-family: var(--second-font);
    font-weight: var(--menu-weight);
    line-height: var(--menu-height);
}
.contact-footer{
    font-size: var(--footer-size);
    font-family: var(--second-font);
    font-weight: var(--footer-weight);
    line-height: var(--footer-height);
    color:var(--beige)
}
h1,h2,h3,h4,p,.menu-header{
    color:var(--black);
}
body{
    background: var(--beige);
}
svg{
    width: 2.5rem;
    height: 2.5rem;
}
img{
    width: 100%;
    height: auto;
}
.container{
    max-width: 1440px;
    margin:0 auto;
    width: 100%;
}
section{
    width: 100%;
}
.title{
    color:var(--brown);
    text-align: center;
    margin-bottom: 6rem;
}
.inner{
    padding:6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.line{
    height: 1px;
    width: 900px;
    background-color: var(--gray);
}
.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width:1024px){
    .container{
        max-width: 76.7rem;
    }
    .line{
        width: 100vw;
    }
}
@media (max-width:767px){
    .container{
        max-width: 39rem;
    }
}
@media (max-width:654px) {
    h1{
        font-size: 4.8rem;
        line-height: 5.5rem;
    }
}
/*header*/
.header{
    max-height: 12rem;
}
.header__inner{
    padding:2rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:1.5rem;
}
.header__inner-logo{
    width: 10%;
}
.header__inner-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border:1px solid var(--black);
    border-radius: 2rem;
    padding:.8rem 2.25rem;
}
.header__inner-link{
    text-decoration: none;
    text-transform: uppercase;
}
.header__inner-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap:2rem;
}
.header__icon-shop{
    position: relative;
}
.icon__shop-item{
    position: absolute;
    right: -21%;
    top: -16%;
    background: var(--red);
    padding: 12% 21%;
    color:var(--white);
    font-family: var(--second-font);
    font-weight: 700;
    font-size:1.2rem;
    line-height: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
}
#burger{
    display: none;
}
@media (max-width:1024px){
    #burger{
        display: flex;
    }

    .header .container{
        max-width: 100vw;
    }
    .header__inner-menu{
        display: none;
    }
    .header__inner-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1.6rem;
        width: max-content;
    }
    .header__inner-logo img{
        width: 7rem;
    }
    .header__inner-logo svg{
        width: 2.4rem;
        height: 2rem;
    }
}
/*Intro*/
.intro__inner{
    position: relative;
}
.intro__slider-item{
    position: relative;
}
.slider__item-text{
    position: absolute;
    z-index: 1000;
    top:50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right:0;
    padding-right: 4rem;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    background: #12121299;
    text-align: center;
    gap: 2rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.7rem 0;
}
.slider__item-text h1{
    color:var(--white);
}
.slider__item-btn{
    font-family: var(--main-font);
    font-size:4rem;
    line-height: 4.6rem;
    color:var(--white);
    background: var(--red);
    border: none;
    border-radius: 5rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding:1.2rem 3rem;
    font-weight: 700;
}
.intro__arrows{
    position: absolute;
    z-index: 1001;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 1rem;
}
.intro__arrows button svg,.about__arrows button svg{
    width: 2.8rem;
    height: 2.8rem;
}
.intro__arrows button{
    border: none !important;
    background: none !important;
    cursor: pointer;
}
@media (max-width:1024px) and (min-width:768px) {
    .slider__item-text h1{
        width: 50rem;
    }
}
/*catalog*/
.catalog__inner{
    padding:6rem 4rem;
}
.catalog__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem 2.1rem;
}
.card{
    border:1px solid var(--brown);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32.2rem;
    height: 52.4rem;
}
.card__image{
    width: 26.5rem;
    margin-top: 1.3rem;
    height: 35rem;
}
.card__title{
    font-family:'Poppins700',sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color:var(--brown);
    margin:.5rem 0;
    text-align: center;
    height: 2.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 296px;
}   
.card__subtitle{
    font-family: 'Poppins400', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    height: 2.1rem;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 296px;
}
.card__line{
    width: 24rem;
    margin:1.2rem 0 .6rem;
}
.card__price{
    font-size: 1.8rem;
    font-family: 'Poppins700';
    line-height: 2.7rem;
    font-weight: 700;
}
.card__btn{
    padding:.65rem 2.6rem;
    background: var(--red);
    color:var(--beige);
    font-family: 'Poppins700';
    font-weight: 700;
    font-size:1.8rem;
    line-height: 2.7rem;
    border-radius: 2rem;
    margin-top: 1.2rem;
}
@media (max-width:766px){
    .catalog__wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}
/*sweets*/
.sweets__wrapper{
    width: 102rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 43rem 0 43rem;
    grid-template-columns: 43rem 43rem;
    -ms-grid-rows: 50.2rem 11rem 50.2rem;
    grid-template-rows: 50.2rem 50.2rem;
    gap:11rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sweets__wrapper > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.sweets__wrapper > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.sweets__wrapper > *:nth-child(3){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.sweets__wrapper > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.sweet__wrapper-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:3rem;
}
.sweets__item-image{
    border-radius: 3rem;
}
@media (max-width:1024px){
    .sweets__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .sweets__item-image{
        width: 43rem;
        height: 43rem;
    }
}
@media (max-width:766px) {
        .sweets__item-image{
        width: 35rem;
    }
}
/*blog*/
.blog__card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap:3rem;
    width:492px;
}
.blog__card-image{
    border-radius: 1rem;
    height: 20rem;
    width: auto;
}
.blog__card-nav{
    width: 262px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.blog__card-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:1.2rem;
}
.blog__card-btn{
    background: none;
    border: 1px solid var(--black);
    padding:0.3rem 4.1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 2rem;
    font-size:20px;
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--black);
}
.blog__wrapper-btn{
    background: none;
    border: 1px solid var(--black);
    padding:0.3rem 4.1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    height: 7rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 205px;
}
.blog__inner{
    padding: 6rem 4rem;
}
.blog__wrapper{
    width: 100%;
    display: -ms-flex;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 7rem 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    flex-wrap: wrap;
}
@media (max-width:1064px){
    .blog__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .blog__card{
        width: 60%;
    }
    .blog__wrapper-btn{
        margin-right: 0;
    }
}
@media (max-width:767px){
    .blog__wrapper{
        gap:6rem 0;
    }
    .blog__wrapper-btn{
        display: none;
    }
    .blog__card{
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
    }
    .blog__card-nav{
        width: 39%;
    }
    .blog__card-image{
        width: 13.7rem;
        height: 14.6rem;
    }
}
/*about*/
.about__inner{
    padding: 6rem 4rem;
}
.about__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    gap:1rem 0;
}
.about__image{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 2rem;
}
.about__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:2rem;
    height: max-content;
}
.about__text:nth-child(5){
    margin-top:7rem;
}
@media (max-width:1263px) {
    .about__text:nth-child(5){
    margin-top:0;
}
    .about__wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .about__image{
        width: 42.2rem;
        height: 30rem;
        margin-top: 4rem;
    }
    .about__text{
        width: 42.2rem;
    }
}
@media (max-width:767px){
    .about__text{
        width: 34.2rem;
        text-align: center;
    }
    .about__image{
        width: 30.6rem;
        height: 22rem;
    }
}
/*gallery*/
.gallery__wrapper{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32rem 0 57.4rem 0 32rem;
  grid-template-columns: 32rem 57.4rem 32rem; 
  -ms-grid-rows: 40rem 4rem 40rem; 
  grid-template-rows: 40rem 40rem;
  gap: 4rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.gallery__wrapper > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.gallery__wrapper > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.gallery__wrapper > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.gallery__wrapper > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.gallery__wrapper > *:nth-child(5){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.gallery__wrapper > *:nth-child(6){
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.gallery__wrapper-item{
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__arrows{
    display: none;
}
@media (max-width:1200px) {
    .gallery__inner{
        padding-bottom: 0;
    }
    .about__arrows{
        height: 5.6rem;
    }
    .gallery__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100vw;
        overflow: hidden;
        gap:3.6rem;
    }
    .about__arrows{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }
    .about__arrow-prev,.about__arrow-next{
        border: none;
        background: none;
        cursor: pointer;
        margin: 0 2rem;
    }
    .gallery__wrapper-item{
        width: 33.3rem;
        height: 42.3rem;
        margin-left: 36px;
    }
    #gallery .container{
        max-width: 100vw !important;
    }
}
@media (max-width:390px){
    .gallery__wrapper-item{
        width: 100vw;
        height: 45rem;
        margin-left: 0;
    }
}
/*footer*/
.footer{
    background: var(--brown);
}
.footer__inner{
    padding:3rem 4rem;
}
.footer__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__nav-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap:3%;
    width: 48%;
}
.footer__menu-main{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    gap:5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.footer__menu-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:2rem;
}
.footer__menu-submain{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:1rem;
}
.main-link{
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    font-family: var(--main-font);
    color:var(--beige);
    text-decoration: none;
}
.submenu__link{
    color:var(--beige);
    font-size:1.8rem;
    font-family: var(--second-font);
    text-decoration: none;
}
.footer__nav-contact  h4{
    color:var(--beige);
    margin-bottom: 2rem;
}
.footer__contact-address{
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:1rem;
}
.footer__social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:2.2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.social__icon{
    width: 3rem;
    height: 3rem;
}
.footer__menu-logo img{
    width: 14rem;
}
.footer_notescript{
    width: 100%;
    text-align: end;
    font-size:1.6rem;
    line-height: 2.2rem;
    font-family: var(--second-font);
    color:var(--beige);
    font-weight: 400;
    margin-top:3rem;
}
@media (max-width:1024px){
    .footer_notescript{
        width: 26.1rem;
    }
    .footer__nav-contact{
        margin-top: -9rem;
        margin-right: 4.5rem;
    }
}
@media (max-width:767px){
    .footer__nav,.footer__menu-main{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer__menu-main{
        gap:1.2rem;
    }
    .footer__nav-contact{
        margin: 0;
    }
    .footer__menu-items{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    width: 100%;
    }
    .footer__menu-submain .main-link{
        margin-bottom: 3.4rem;
    }
    .footer__menu-logo img{
        width: 10rem;
    }
    .footer__nav-menu{
    width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer__nav-contact{
        margin-top: 3.6rem;
        margin-left:2.6rem;
    }
    .footer__menu-main .main-link{
        margin-left:2.6rem;
    }
    .footer_notescript{
        margin-left:2.6rem;
    }
}
/*search*/
@media (min-width: 1025px) {
    .mobile-menu {
        display: none !important;
    }
}
.mobile-menu {
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: max-content;
    height: max-content;
    padding: 3rem;
    gap:2rem;
    position: absolute;
    background: var(--white);
    z-index: 2;
    top: 80px;
    left: 86px;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px #C4C4C4;
    border-radius: 6px;
}
.mobile-menu a{
    text-transform: capitalize;
    line-height: 2.2rem;
    font-weight: 400;
    font-family: 'Stetica', sans-serif;
    font-size: 1.8rem;
}
.mobile-menu.active {
    display: block;
    opacity: 1;
}
.search__wrapper{
    max-width: 1440px;
    padding: 4.2rem 4rem;
    display: none;
}
.search__inner{
    border: 0.1rem solid #988572;
    border-radius: .6rem;
    padding:.5rem 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#search-form{
    width: 2.4rem;
    height: 2.4rem;
}
#close{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.search__form{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.4rem;
}
.search__form input{
    background: none;
    color:#988572;
    border:none;
    width: 100%;
    line-height: 1.6rem;
    font-size:14px;
    font-weight: 400;
    font-family: 'Stetica';
}
.search__form input:focus,.search__form input:active{
    outline: 0;
}
.search-results {
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    background: var(--beige);
    border: 1px solid gray;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    z-index: 9999;
}

.search-results a {
    display: flex;
    flex-direction: row;
    gap:5px;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.search-result-price{
    font-size: 20px;
  font-weight: 700;
  font-family: 'Stetica',sans-serif;
}
.search-result-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search-results a:hover {
    background: #f5f5f5;
}
.search-results a img{
    width: 10.5rem;
    height: 9rem;
}
.no-results,.loading{
    margin: 2rem 1rem;
  font-size: 16px;
  line-height: 22px;
    font-family: 'Stetica',sans-serif;
}
@media (max-width:1024px) {
        .search__wrapper{
        padding: 2.2rem 4rem;
    }
    .search-results{
        top:8rem;
    }
}
/*animation*/
.slider__item-btn:hover,.card__btn:hover{
    background: white;
    color:var(--red);
    border:1px solid var(--red);
    transition: var(--transition);
}
.menu-header:hover,.menu-header:active,.main-link:hover,.main-link:active,.submenu__link:hover,.submenu__link:active{
    color:var(--red);
    transition: var(--transition);
}
.blog__card-btn:hover,.blog__wrapper-btn:hover,.blog__wrapper-btn:hover h4{
    background: var(--black);
    color:white !important;
    transition: var(--transition);
}
.blog__wrapper-btn:hover h4{
    background: none;
}
#search{
    cursor: pointer;
}